* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: auto;
}
@media (min-width: 768px) {
        .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
        .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
        .container {
        width: 1170px;
    }
}
header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #eee;
}
header img {
    width: 25%;
}
header ul {
    display: flex;
}
header ul li {
    margin-left: 50px;
}
header ul li a {
    color: #000;
}
.Sign-in {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 50px;
}
.Sign-in h2 {
    margin-bottom: 20px;
}
.Sign-in form .email {
    width: 100%;
    padding: 5px;
}
.submit {
    margin: 15px 0;
    width: 50%;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #f1c40f;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.features {
    margin: 50px 0;
}
.features .container > div {
    display: flex;
    margin-bottom: 20px;
    height: 100px;
}
.features .icons {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .icons i {
    color: darkorange;
}
.features .text {
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
@media (max-width:600px) {
    .features .container > div {
        margin-bottom: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.5;
    }
}
.video {
    text-align: center;
    margin: 50px 0;
}
@media (max-width: 600px) {
    .video iframe {
        width: 100%;
    }
}
.pricing {
    margin: 50px 0;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.pricing .card {
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0px 20px;
    text-align: center;
}
.pricing .card span {
    background-color: #ddd;
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing .card h3 {
    margin: 10px 0 20px;
    font-size: 22px;
}
.pricing .card ul {
    padding: 0px 0 22px 0;
}
.pricing .card ul li {
    padding: 5px 0;
}
.pricing .card button {
    padding: 10px 30px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    background-color: #f1c40f;
    transition: 1s
}
.submit:hover,
.pricing .card button:hover {
    background-color: orange;
}
footer {
    background-color: #ddd;
    height: 60px;
    display: flex;
}
footer ul {
    display: flex;
    justify-content: flex-end;
}
footer ul li {
    padding: 10px;
}
footer ul li a {
    color: #000;
}
footer span {
    display: flex;
    justify-content: flex-end;
}